html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
* {
    box-sizing: border-box;
  }
  
body {
font-family: "Lucida Grande";
}

a {
text-decoration: none;
}

.clear {
clear: left;
}

.container {
max-width: 1170px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
}

.lesson-wrapper {
padding-bottom: 80px;
padding-left: 5%;
padding-right: 5%;
background-color: orange;
text-align: center;
}

.heading {
padding-top: 80px;
padding-bottom: 50px;
color: white;
}

.heading h2 {
font-weight: normal;
}

.lesson {
float: left;
width: 25%;
}

.lesson-icon {
position: relative;
}

.lesson-icon p {
position: absolute;
top: 44%;
width: 100%;
color: white;
}

.text-contents {
width: 80%;
display: inline-block;
margin-top: 15px;
font-size: 15px;
color: white;
}

.heading h3 {
font-weight: normal;
}

@keyframes star {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translateX(+80vh);
        opacity: 0;
    }
}

.stars img {
    width: 500px;
    animation: star 4s linear infinite;
}

.stars {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    overflow-x: hidden;
}

.stars img:nth-child(1){
    animation-delay: 1s;
}
.stars img:nth-child(2){
    animation-delay: 2s;
}
.stars img:nth-child(3){
    animation-delay: 3s;
}
.stars img:nth-child(4){
    animation-delay: 4s;
}
/* .stars img:nth-child(5){
    animation-delay: 5s;
}
.stars img:nth-child(6){
    animation-delay: 7s;
}
.stars img:nth-child(7){
    animation-delay: 6s;
} */