html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
* {
    box-sizing: border-box;
  }
  
body {
font-family: monospace;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    }
    
header li {
  list-style: none;
  float: right;
  padding: 30px;
  font-size: 18px;
  font-family: 'Segoe UI';
}

header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
  width: 100%;
  margin-bottom: 50px;
}

.header-left {
  font-size: 36px;
  float: left;
  padding: 20px;
  font-family: Impact;
}

header .bi-list {
    color: white;
    float: right;
    font-size: 25px;
    display:none;
}

header li:hover{
    color: grey;
    cursor: pointer;
}

header li:active{
    color: pink;
    cursor: pointer;
}

.top-section{
    height: 500px;
}

.top-section img{
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 100px;
}
.top-section h1{
    font-size: 70px;
    font-family: Impact;
    padding-top: 35px;
}
.top-section p{
    font-weight: bold;
    font-size: 20px;
}

a {
text-decoration: none;
}

.clear {
clear: left;
}

.lesson-wrapper {
padding-bottom: 80px;
background-color: orange;
text-align: center;
}

.heading {
padding-top: 80px;
padding-bottom: 50px;
color: white;
}

.lesson h2 {
font-weight: bold;
padding-top: 10px;
font-size: 15px;
font-family: Helvetica;
letter-spacing: 2px;
}

.pink{
    color: #ff52ba;
}

.blue{
    color: royalblue;
}

.cyan{
    color: #00b39b;
}

.yellow{
    color:#dbbe00;
}

.lesson {
float: left;
width: 25%;
background-color: white;
padding: 10px;
border: 5px orange solid;
}

.lesson-icon {
position: relative;
}

.text-contents {
width: 80%;
display: inline-block;
margin-top: 15px;
font-size: 15px;
font-style: italic;
color: black;
}


.heading h3 {
font-weight: normal;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    margin:20px;
}
.content .container{
    display:flex;
    flex-direction: row;
}
.content img{
    width:50%;
}

.content-image{
    width:50%;
    align-self: center;
}

.content-text{
    width: 50%;
    align-self: center;
}
.content h1{
    font-family: Impact;
    font-size: 35px;
    padding-bottom: 30px;
}
.content p{
    font-family: 'Segoe UI';
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}


footer{
    display:flex;
    flex-direction: row;
    background:#26d0c9;
    color:white;
}
.footer-left{
    padding:20px;
}
footer p{
    margin:auto;
}



.stars img{
    width: 500px;
    animation: pita 7s linear infinite;
}
.stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

@keyframes pita {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translateX(+80vh);
        opacity: 0;
    }   
}


.stars img:nth-child(1){
    animation-delay: 1s;
}
.stars img:nth-child(2){
    animation-delay: 2s;
}
.stars img:nth-child(3){
    animation-delay: 3s;
}
.stars img:nth-child(4){
    animation-delay: 4s;
}
.stars img:nth-child(5){
    animation-delay: 5s;
}
.stars img:nth-child(6){
    animation-delay: 6s;
}
.stars img:nth-child(7){
    animation-delay: 7s;
}