html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
* {
    box-sizing: border-box;
  }
  
body {
font-family: monospace;
}

.top-section{
    height: 500px;
    margin-bottom: 20px;
}

.top-section img{
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 20px;
}

.top-section h1{
    font-size: 75px;
    font-family: 'Arial Narrow';
    padding-top: 50px;
}
.top-section p{
    font-weight: bold;
    font-size: 30px;
}

a {
text-decoration: none;
}

.clear {
clear: left;
}

.container {
max-width: 1170px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
}

.lesson-wrapper {
padding-bottom: 80px;
background-color: orange;
text-align: center;
}

.heading {
padding-top: 80px;
padding-bottom: 50px;
color: white;
}

.lesson h2 {
font-weight: bold;
padding-top: 10px;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
}

.pink{
    color: pink;
}

.blue{
    color: blue;
}

.cyan{
    color: cyan;
}

.yellow{
    color:#dbbe00;
}

.lesson {
float: left;
width: 25%;
background-color: white;
padding: 10px;
border: 5px orange solid;
}

.lesson-icon {
position: relative;
}

.text-contents {
width: 80%;
display: inline-block;
margin-top: 15px;
font-size: 15px;
font-style: italic;
color: black;
}


.heading h3 {
font-weight: normal;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stars img{
    width: 500px;
    animation: pita 7s linear infinite;
}
.stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

@keyframes pita {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translateX(+80vh);
        opacity: 0;
    }   
}


.stars img:nth-child(1){
    animation-delay: 2s;
}
.stars img:nth-child(2){
    animation-delay: 1s;
}
.stars img:nth-child(3){
    animation-delay: 3s;
}
.stars img:nth-child(4){
    animation-delay: 4.5s;
}
.stars img:nth-child(5){
    animation-delay: 5s;
}
.stars img:nth-child(6){
    animation-delay: 7s;
}
.stars img:nth-child(7){
    animation-delay: 6s;
}
.main {
    padding: 100px 80px;
}

.container-text {
    float: right;
    padding: 33px 20px;
    margin: 60px 30px 0;
    font-family: Oswald,sans-serif;
    margin: 48px auto 60px 30px;
    background-image: linear-gradient(pink, orange);
}

h3 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
    margin-top: 20px;
    margin-bottom:20px;
    color: #488df4 !important;
    word-wrap: break-word;
    position: relative;
    display: block;
}
a {
    margin: 48px auto 60px 30px;
}
a:hover {
    color: #fe73c9;
}

p {
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
a .link-1 {
    margin: 48px auto 60px 30px;
    text-align: left;

}
.content-item {
    background-color: none;
}
